.git
.DS_Store
.env
.env.*
!.env.example
!.env.aws.example
**/.env
**/.env.*
!**/.env.example
node_modules
**/node_modules
**/dist
**/.expo
**/.next
**/coverage
**/.turbo
**/.cache
**/ios/Pods
**/android/.gradle
**/android/app/build
**/build
tmp

data/postgres
data/postgres/**
data/media
data/media/**
.git
node_modules
.env
*.log